{
    "presets": [
        [ "es2015", {
            "targets": {
               "browsers": [
                   "last 5 versions",
                   "ie >= 8"
               ]
            }
        }]
    ],
    "plugins": ["array-includes"] 
}